#nagl
{
    font-family: 'Serif , cursive;
    color: rgb(111, 111, 211);
}

.navbar-inverse .nav li a .glyphicon 
{
    color: #e96363;
} 

#cialo
{
    font-size:18px; 
    color:#e96363; 
    background:#000000;
    font-family: 'Baloo Chettan', cursive;
}

.navbar 
{
        margin-bottom: 0;
        border-radius: 0;
}

#srodek
{
    margin: auto;
}

.row.content 
{
    height: 400px;
}
    
.sidenav
{
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #8B0000;
    height: 100%;
}

footer
{
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px)
{
    .sidenav
    {
        height: auto;
    }
    .row.content {height:auto;} 
}

#logo
{
    position: absolute;
    width: 200px;
    height: 100px;

    top:10px;
    left:4%;

}

#logo img
{
    max-height:30px;
}

.carousel-caption
{
    color: white;
    font-weight: 900;
}

#ikonaduza
{
    color: #8B0000;
}